# ==========================================
# 환경변수 템플릿 (.env.example)
# 이 파일을 복사하여 '.env'로 이름을 바꾸고 실제 값을 채워주세요.
# ==========================================

# [Profile]
SPRING_PROFILES_ACTIVE=

# [Datasource]
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# [JWT]
JWT_SECRET_KEY=

# [Redis]
REDIS_HOST=
REDIS_PORT=

# [Mail]
MAIL_USERNAME=
MAIL_PASSWORD=

# [Password]
PASSWORD_PREFIX=

# [OAuth2 - Google]
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# [OAuth2 - Kakao]
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# [OAuth2 - Apple]
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

# [OAuth2 - Apple IOS]
APPLE_IOS_CLIENT_ID=
APPLE_IOS_CLIENT_SECRET=

# [AWS]
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# [Firebase (FCM)]
FCM_FIREBASE_KEY_BASE64=
FCM_PROJECT_ID=

# [CORS]
CORS_ALLOWED_ORIGINS=

# [External API]
HOLIDAY_API_SERVICE_KEY=

# [Oauth - Refresh Token]
OAUTH_REFRESH_TOKEN_AES_KEY_BASE64=

# [Crawler]
CRAWLER_ADMIN_EMAIL=

# [Swagger]
SWAGGER_USERNAME=
SWAGGER_PASSWORD=

# [Custom Hash key]
CUSTOM_HASH_SALT=

# [Kakao admin key]
KAKAO_ADMIN_KEY=