HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
lib

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
dump.rdb

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### mac OS ###
.DS_Store
.AppleDouble
.LSOverride

### Project security ###
**/resources/application.yml
**/resources/email-config.yaml
**/resources/password-config.yaml
**/resources/causw-dev-51ab1a030da2.json
**/resources/application-dev.yml
**/resources/application-prod.yml

Dockerfile
docker-compose.yaml
deploy_*.sh
app-*.yaml

*.pem
src/main/generated/net/causw/application/dto/util/*Impl.java