<configuration>

  <!-- 콘솔 출력 설정 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <timeZone>Asia/Seoul</timeZone>
      <includeContext>true</includeContext>
      <includeMdc>true</includeMdc> <!-- traceId, spanId 등 사용 가능 -->
    </encoder>
  </appender>

  <!-- 배포 환경 -->
  <springProfile name="prod">
    <root level="info">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- 개발 환경 -->
  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- 로컬 환경 -->
  <springProfile name="local">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>
